---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_META } from "@lib/site";
import "@fontsource/ibm-plex-serif/600.css";

const title = "Home";
---

<BaseLayout title={title}>
  <section class="bg-branding-navy text-branding-white">
    <h1
      class="text-4xl font-semibold uppercase lg:text-6xl px-4 py-4 mb-4 font-serif"
    >
      Hi, I'm Jacob
    </h1>
    <p class="text-3xl font-semibold mx-4">Freelance Web Developer</p>
    <p
			class="ml-4 mt-4 max-w-[80ch] leading-10 lg:text-lg lg:leading-[2.25]"
		>
			I am primarily focused on creating accessible, performant, and
			easy-to-use websites using free and open-source technologies such as
			TailwindCSS, Hugo, and Astro.
  </p>
  </section>
  <section></section>
  <section></section>
</BaseLayout>
