---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_META } from "@lib/site";
import "@fontsource/ibm-plex-serif/600.css";
import { getCollection } from "astro:content";

const title = "Home";
const posts = await getCollection("blog");
---

<BaseLayout title={title}>
  <section aria-role="Hero Section"></section>
</BaseLayout>
