---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_META } from "@lib/site";
import "@fontsource/ibm-plex-serif/600.css";
import { getCollection } from "astro:content";

const title = "Home";
const posts = await getCollection("blog");
---

<BaseLayout title={title}>
  <section
    class="bg-branding-navy text-branding-white"
    aria-role="Hero Section"
  >
    <h1
      class="text-4xl font-semibold uppercase lg:text-6xl px-4 py-4 mb-4 font-serif"
    >
      {SITE_META.author}
    </h1>
    <p class="text-3xl font-semibold mx-4">Freelance Web Developer</p>
    <p class="ml-4 mt-6 max-w-[80ch] leading-10 lg:text-lg lg:leading-[2.25]">
      I create accessible, performant, and easy-to-use websites using free and
      open-source technologies such as TailwindCSS, Hugo, and Astro.
      {
        SITE_META.availableForHire
          ? "I'm currently available for hire, so feel free to reach out using the button below."
          : ""
      }
    </p>
    <button
      class="p-2 font-bold bg-branding-royal-600 hover:bg-branding-royal-500 transition-colors duration-50 rounded-sm my-4 ml-4 text-sm text-white"
      >Contact Me</button
    >
  </section>
</BaseLayout>
