---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_META } from "@lib/utils";
import "@fontsource/ibm-plex-serif/700.css";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const title = "Home";
const posts = await getCollection("blog");
import Hero from "@assets/Hero.jpeg";
import { Icon } from "astro-icon";
---

<BaseLayout title={title}>
  <section class="min-h-screen hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <Image
        src={Hero}
        class="max-w-sm rounded-sm object-cover h-full"
        format="webp"
        width="300"
        height="500"
        aspectRatio="16:9"
        alt="Myself leaning on a tree."
      />
      <div class="text-center lg:text-justify">
        <h1 class="text-5xl font-bold font-serif uppercase text-branding-black">
          Hi, I'm
          <span class="text-branding-navy-500">Jacob</span>
        </h1>
        <h2 class="text-3xl font-bold my-4 lg:my-6 text-branding-text/90">
          Freelance Web Developer
        </h2>
        <p class="py-4 lg:py-6 max-w-[80ch] text-branding-text/75">
          I create accessible, performant, and easy-to-use websites using free
          and open-source technologies such as TailwindCSS, Hugo, and Astro.
          {
            SITE_META.availableForHire
              ? "I'm currently available for hire, so feel free to reach out using the button below."
              : ""
          }
        </p>
        <div class="space-x-3">
          <button class="btn btn-primary text-branding-gray-50"
            >Contact Me</button
          >
          <button class="btn btn-secondary">Who Am I?</button>
        </div>
      </div>
    </div>
  </section>
  <section class="min-h-screen text-branding-text">
    <h2 class="text-4xl p-4 ml-4 font-serif">About Me</h2>
  </section>
</BaseLayout>
