---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_META } from "@lib/site";
import "@fontsource/ibm-plex-serif/600.css";
import { getCollection } from "astro:content";

const title = "Home";
const posts = await getCollection("blog");
---

<BaseLayout title={title}>
  <section aria-role="Hero Section" class="min-h-screen hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
        src="/images/stock/photo-1635805737707-575885ab0820.jpg"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold font-serif uppercase">Hi, I'm Jacob</h1>
        <h2 class="text-3xl font-bold my-4">Freelance Web Developer</h2>
        <p class="py-6 max-w-[80ch]">
          I create accessible, performant, and easy-to-use websites using free
          and open-source technologies such as TailwindCSS, Hugo, and Astro.
          {
            SITE_META.availableForHire
              ? "I'm currently available for hire, so feel free to reach out using the button below."
              : ""
          }
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </section>
</BaseLayout>
