---
import { SITE_META } from "@lib/site";
import { Icon } from "astro-icon";
---

<!-- <aside class="lg:grid-in-sidebar drawer lg:drawer-open z-10 bg-branding-primary">
  <button class="ml-auto mr-0 bg-red-300">
    <Icon name="heroicon:x-mark-solid" class="fill-black w-5 h-5" />
  </button>
  <div class="drawer-content flex flex-col items-center justify-center">
    Page content here 
     Hello World
  </div>
</aside> -->
