---
import { SITE_META } from "@lib/site";
import { Icon } from "astro-icon";
---

<aside
  class="hidden grid-in-sidebar bg-branding-royal lg:flex lg:flex-col items-center"
>
  <p class="font-bold mt-2 text-2xl text-white uppercase">{SITE_META.title}</p>

  <div class="flex gap-2">
    <Icon name="devicon:github" />;
  </div>
</aside>
