---
import { SITE_META } from "@lib/site";
---

<aside
  class="hidden grid-in-sidebar bg-blue-500 lg:flex lg:flex-col items-center"
>
  <p class="font-bold mt-2 text-2xl text-white uppercase">{SITE_META.title}</p>

  <!-- todo: Site Sidebar -->
</aside>
