---
import { NAV_LINKS } from "@lib/utils";
import { Icon } from "astro-icon";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header
  class="z-10 items-center grid-in-header bg-secondary"
  x-data="{mobileOpen: false}"
>
  <div class="flex h-full">
    <button class="h-full p-4 hover:bg-blue-300 lg:hidden">
      <Icon name="fa:bars" class="h-3 w-3" />
    </button>
    <nav class="hidden ml-4 lg:flex items-center space-x-4">
      {
        NAV_LINKS.map((link) => (
          <a
            href={link.href}
            class="bg-transparent text-branding-text h-full p-4 duration-150 border-0 font-sans hover:backdrop-brightness-75 transition-all"
          >
            {link.name}
          </a>
        ))
      }
    </nav>
  </div>
</header>
