---
import { NAV_LINKS, isNavLinkActive } from "@lib/utils";
import { Icon } from "astro-icon";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header
  class="z-10 items-center grid-in-header bg-secondary"
  x-data="{mobileOpen: false}"
>
  <div class="flex h-full">
    <button class="h-full p-4 hover:bg-blue-300 lg:hidden">
      <Icon name="fa:bars" class="h-3 w-3" />
    </button>
    <nav class="hidden ml-4 lg:flex items-center space-x-4">
      {
        NAV_LINKS.map((link) => {
          //console.log(Astro.url.origin);
          return (
            <a
              href={link.href}
              class:list={[
                "bg-transparent",
                "text-branding-text",
                "h-full",
                "p-4",
                "duration-150",
                "border-0",
                "font-sans",
                "hover:backdrop-brightness-75",
                "transition-all",
                `${
                  isNavLinkActive(
                    currentPath,
                    new URL(`${Astro.url.origin}/${link.href}`).pathname.slice(
                      2,
                    ),
                  )
                    ? "border-b-2 border-blue-500"
                    : ""
                }`,
              ]}
            >
              {link.name}
            </a>
          );
        })
      }
    </nav>

    <button
      class="h-full p-4 hover:bg-blue-300 lg:hidden justify-end ml-auto mr-0"
    >
      <Icon name="fa:bars" class="h-3 w-3" />
    </button>
  </div>
</header>
