---
import { getCollection, CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}
interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
//const { Content } = await project.render();
---

<BaseLayout title={project.data.title}>
  <div class="prose p-3">
    {project.data.description}
  </div>
</BaseLayout>
