---
import BaseLayout from "@layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");

import "@fontsource/ibm-plex-sans";
import "@fontsource/ibm-plex-serif/600.css";
---

<BaseLayout title="Portfolio">
  <section class="p-3">
    {
      projects.map((project) => (
        <article class="prose max-w-none prose-headings:font-serif">
          <h3>{project.data.title}</h3>
          <div class="max-w-[80ch]">{project.data.description}</div>
        </article>
      ))
    }
  </section>
</BaseLayout>
